@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: black;
    color: white;

    font-family: "Poppins";
}

.left
{
    width: 25vw;
    padding: 10px;
}

.home ul li
{
    width: 20px;

    padding: 15px;

    list-style: none;
    
    display: flex;
    align-items: center;
    gap: 15px;

}

.heading
{
    padding: 15px;

    list-style: none;
    
    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 10px;
    font-weight: 300;
}
.heading img
{
    width: 20px;
}

.library
{
    min-height: 70vh;

    position: relative;
}

.left-footer
{
    display: flex;
    gap: 15px;

    font-size: 12px;

    position: absolute;
    bottom: 5px;

    padding: 10px;
}

.left-footer a
{
    color: grey;
    
    text-decoration: none;
}

/* Right Side Container */
.right
{
    width: 75vw;
}

