@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: black;
    color: white;

    font-family: "Poppins";
}

.left
{
    width: 27vw;
    margin: 15px 5px;
}

.home
{
    margin-bottom: 10px;
}

.home ul li
{
    width: 20px;

    padding: 10px;

    list-style: none;
    
    display: flex;
    align-items: center;
    gap: 15px;

}

.heading
{
    padding: 15px;

    list-style: none;
    
    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 10px;
    font-weight: 300;
}

.heading img
{
    width: 20px;
}

.library
{
    min-height: 70vh;

    position: relative;
}

.left-footer
{
    display: flex;
    gap: 15px;

    font-size: 12px;

    position: absolute;
    bottom: 0px;

    padding: 50px 15px;
}

.left-footer a
{
    color: grey;
    
    text-decoration: none;
}

/* Right Side Container */
.right
{
    width: 75vw;
    margin: 15px 5px;
}

.header
{
    display: flex;
    justify-content: space-between;
    
    background-color: rgb(10, 10, 10);

    height: 50px;
}

.header > *
{
    padding-right: 10px;   
}

.button .login
{
    width: 80px;

    padding: 10px 5px;
    margin: 5px;

    background-color: white;
    color: black;

    border: none;
    border-radius: 70px;

    font-family: sans-serif;
    font-size: 15px;
    font-weight: bolder;
}

.button .signup
{
    width: 80px;

    padding: 10px 5px;
    margin: 5px;

    background-color: rgb(10, 10, 10);
    color: grey;

    border: none;
    border-radius: 70px;

    font-family: sans-serif;
    font-size: 15px;
    font-weight: bolder;
}

.spotify-playlist
{
    padding: 15px;
}

.card-container
{
    display: flex;
    flex-wrap: wrap;
}

.card
{
    /* border: 5px solid white; */
    width: 200px;

    margin: 15px;
    padding: 15px;

    background-color: rgb(40, 40, 40);
    border-radius: 10px;
}

.card p
{
    font-size: 13px;
    color: grey;
}

.card .thumbnail
{
    width: 200px;
    height: 250px;

    object-fit: cover;
}
